@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap");

:root {
    --dark-color: #0f0f0f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Start Header */
header,
.left-section,
.mid-section,
.right-section {
    display: flex;
    align-items: center;
}

.mid-section {
    width: 52%;
    margin-left: -40px;
}

header {
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
}

.toggle-menu {
    cursor: pointer;
}

.left-section img {
    height: 40px;
    width: 100%;
    margin-left: 16px;
    cursor: pointer;
}

.mid-section form {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 4px;
}

.mid-section form input {
    flex: 1;
    border-radius: 40px 0 0 40px;
    padding: 0 4px 0 16px;
    border: 1px solid #d3d3d3;
    outline: none;
}

.mid-section form input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.498);
}

.mid-section form button {
    width: 64px;
    border-radius: 0 40px 40px 0;
    border: 1px solid #d3d3d3;
    color: #000000a8;
    cursor: pointer;
}

.mid-section .mic {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.right-section a {
    color: black;
    margin-right: 18px;
}

.right-section img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

@media(max-width:767px) {

    /* Media Header Left Section */
    .left-section img {
        margin-left: 7px;
    }

    .mid-section form input {
        display: none;
    }

    .mid-section {
        margin-left: auto;
    }

    .mid-section form {
        justify-content: flex-end;
    }

    .mid-section .mic {
        background-color: transparent;
    }

    .mid-section form button {
        background: transparent;
        border-color: transparent;
        width: unset;
        color: black;
    }
}

/* End Header */

/* Start content area */
/* Start aside */
.content-area {
    display: flex;
    background-color: #f9f9f9;
    height: calc(100vh - 56px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

aside {
    top: 0;
    width: 240px;
    position: absolute;
    left: -240px;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    z-index: 2;
    transition: 0.3s;
}

aside.active {
    left: 0px;
}

aside>div {
    display: flex;
    align-items: center;
    padding: 8px 0;
    position: sticky;
    background-color: white;
}

aside div i {
    padding-left: 16px;
}

aside div img {
    height: 40px;
    width: 124px;
    margin-left: 16px;
    cursor: pointer;
}

@media(max-width:767px) {
    aside div img {
        margin-left: 7px;
    }

}

aside ul {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 15px 0;
}

aside ul a {
    text-decoration: none;
    color: black;
    padding: 10px 16px;
    margin-bottom: 5px;
}

aside ul a.active,
aside ul a:hover {
    background-color: #e5e5e5;
    border-radius: 20px;
}

aside ul li {
    display: flex;
    align-items: center;
}

aside ul li span {
    margin-left: 24px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
}

aside ul li span.active {
    font-weight: 600;
}

hr {
    background-color: #e5e5e5;
    height: 1px;
    width: 100%;
    border: none;
    margin: 10px 0;
}

ul.subscription h2 {
    padding: 0 0 5px 16px;
    margin-bottom: 6px;
    font-size: 1.7rem;
}

ul.subscription .items .item {
    display: flex;
    align-items: center;
    padding: 0 12px;
    padding: 10px 16px;
}

ul.subscription .items .item:hover {
    background-color: #e5e5e5;
    border-radius: 20px;
}

ul.subscription .items .item img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

ul.subscription .items .item span {
    padding-left: 24px;
    font-size: 1.4rem;
}

/* End aside */


/* start main area */
main {
    flex: 1;
    height: 100%;
    height: calc(100vh - 56px);
    padding-top: 35px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
}

main .container-video {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 24px;
}

main .container-video .video-box {
    cursor: pointer;
    /* width: 100%; */
    margin-bottom: 40px;
}

@media(min-width:991px) {
    main .container-video .video-box {
        /* width: calc(100% / 4 - 20px); */
        flex-basis: calc(100% / 4 - 20px);
    }
}

@media(max-width:991px) {
    main .container-video .video-box {
        /* width: calc(100% / 3 - 20px); */
        flex-basis: calc(100% / 2 - 20px);

    }
}

@media(max-width:768px) {
    main .container-video .video-box {
        flex-basis: calc(100% / 1 - 20px);
    }
}

main .container-video .thumbnail {
    margin-bottom: 12px;
}

.video-img {
    width: 100%;
    border-radius: 10px;
}

.video-box .video-info {
    display: flex;
}

.video-box .video-info div img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}

.video-box .video-info .details h3 {
    margin-bottom: 4px;
    max-width: 179px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

@media(max-width:767px) {
    .video-box .video-info .details h3 {
        max-width: unset;
    }
}

.video-box .video-info .details p {
    font-size: 1.4 rem;
    line-height: 2rem;
    color: rgba(96, 96, 96);
}

/* End main area */

/* End content area */